
*{
  margin: 0;
  padding: 0;
}

.App{
  display: grid;
margin: auto;
grid-template-rows: 50px 200px 120px;
margin-top: 80px;

width: 600px;
border: 1px solid black;

}

.div1{
  display: grid;
grid-template-columns: 150px auto;

}

.div1-lorem{
  text-align:center;
  padding-top:12px;
  border-right:1px  solid black;
}

.div1-link{
  text-align:right ;
  padding:12px;
}
.div2{
  display: grid;
  border-top: 1px solid black;
  grid-template-columns: auto auto;
}

.div-2Data{
  display:flex;
  justify-content:center;
  align-items:center;
  border-right:1px solid black;

}

.footer{
text-align:'left'; 
padding:30px ;
border-top: 1px solid black;

}